[Desktop Entry]
Type=Application
Name=Gqrx
Comment=Software defined radio receiver implemented using GNU Radio and the Qt GUI toolkit
Exec=/usr/bin/gqrx
Icon=gqrx-icon
