[Desktop Entry]
Type=Application
Name=Universal Radio Hacker
Comment=Software for investigating unknown wireless protocols
Exec=/snap/bin/urh
Icon=urhpng
